siberia-parent/siberia-properties/src/main/xsd/Properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://temp" 
           xmlns="http://temp"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
           
    <!-- root elements -->
    
    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="category"/>
            </xs:sequence>
            <xs:attribute name="priority" type="xs:int" use="optional" default="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[this attribute is used to determine the priority of a set of properties.]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="category" type="categoryType"/>
    
    <xs:complexType name="categoryType">
        <xs:annotation>
            <xs:documentation><![CDATA[A category can contains others categories and severall properties.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="propertyContainer">
                <xs:sequence maxOccurs="unbounded">
                    <xs:element ref="property" minOccurs="0"/>
                    <xs:element ref="category" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- represents a property -->
    <xs:element name="property" type="propertyType"/>
    
    <xs:complexType name="propertyType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[A property is a PropertyContainer and could contains 'dependsOn's and some stuff to perform 
                     a validation of its value]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="propertyContainer">
                
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:sequence maxOccurs="unbounded" minOccurs="0">
                        <xs:element ref="dependsOn"/>
                    </xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element ref="values"/>
                        <xs:element ref="range"/>
                        <xs:element ref="pattern"/>
                        <xs:element ref="extendedRange"/>
                    </xs:choice>
    
                    <xs:element name="appliedValue" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                
                <xs:attribute name="id"               type="xs:int"     use="optional">
                    <xs:annotation>
                        <xs:documentation><![CDATA[id of the property. this id is to be set when processing Properties
                                                   and should not be initialized manually.]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="nature"           type="natureType" use="optional" default="string">
                    <xs:annotation>
                        <xs:documentation>
                        <![CDATA[indicates the nature of the value of the property]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default"          type="xs:string"  use="required"/>
                
                <xs:attribute name="applyAction"      type="xs:string"  use="optional">
                    <xs:annotation>
                        <xs:documentation><![CDATA[Class representation of an action that will be used when the value of the property has changed.]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="validateAction"      type="xs:string"  use="optional">
                    <xs:annotation>
                        <xs:documentation><![CDATA[Class representation of an action that will be used when the change on a modified property is confirmed.]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cancelAction"      type="xs:string"  use="optional">
                    <xs:annotation>
                        <xs:documentation><![CDATA[Class representation of an action that will be used when the change on a modified property is canceled.]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dependAction"     type="xs:string"  use="optional">
                    <xs:annotation>
                        <xs:documentation><![CDATA[Class representation of an action that will be used to inject dependencies between properties.
                                                   if this property depends on property 'a', then this property has to be warned when caracteristics of property 'a'
                                                   changed. the 'dependAction' specify a kind of action which will be called when 'a' changed.]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="renderer"     type="xs:string"  use="required">
                    <xs:annotation>
                        <xs:documentation>
                        <![CDATA[indicates which renderer to use for this property]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="editor"     type="xs:string"  use="required">
                    <xs:annotation>
                        <xs:documentation>
                        <![CDATA[indicates which editor to use for this property]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="manual"   type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                        <![CDATA[if manual is true, it means that the item was added manually by the platform. it's the case
                                if user has two editors for one kind of entity and decide to use the first. then a property is
                                generated and it does not come from a static declaration]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="propertyContainer">
        <xs:complexContent>
            <xs:extension base="refClassType">
                <xs:sequence>
                    <xs:element name="label" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="icon"        type="xs:string"  use="optional">
                    <xs:annotation>
                        <xs:documentation>
                        <![CDATA[the path of the icon to be used for this container]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="order"       type="xs:int"     use="optional" default="0">
                    <xs:annotation>
                        <xs:documentation>
                        <![CDATA[Attribute that is used to allow ordering into properties]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="refClassType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[represents an element whose repr must be processed as a static property of a loaded class ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="refClass" type="xs:boolean" default="false" use="optional">
            <xs:annotation>
                <xs:documentation>
                <![CDATA[If this attribute is set to true, then, the value of repr represent a java class declaration]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="repr"     type="xs:string"                  use="required">
            <xs:annotation>
                <xs:documentation>
                <![CDATA[the representation of a refClassType]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:simpleType name="natureType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="integer"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="double"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="extendedRangeType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[Define a range that could specify excluded ranges]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rangeType">
                <xs:sequence>
                    <xs:element name="excluded" type="rangeType" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- represents a range of value -->
    <xs:element name="extendedRange" type="extendedRangeType"/>
    
    <xs:complexType name="rangeType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[Define a range that is defined by a minimum and a maximum]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="minimum" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="maximum" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="range" type="rangeType"/>
    
    <xs:element name="values">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[Define a set of value]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="value" type="valueType"/>
    
    <xs:complexType name="valueType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[Define a value]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="refClassType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="pattern" type="patternType"/>
    
    <xs:complexType name="patternType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[Define a pattern]]>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:element name="minimum" type="minimumType"/>
    
    <xs:complexType name="minimumType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[Define a minimum]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="borne"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="maximum" type="maximumType"/>
    
    <xs:complexType name="maximumType">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[Define a maximum]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="borne"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="borne">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[A borne is a value that could be included or not]]>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="valueType">
                <xs:attribute name="include" type="xs:boolean" use="optional" default="true"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- allow to modify dynamically the parent property according to other properties
            id is like '{platform|software}:{category_1.name}.{category_n.name}.{property_X.name} -->
    <xs:element name="dependsOn" type="dependsOnType"/>
    
    <xs:complexType name="dependsOnType">
        <xs:attribute name="repr" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>